name: Build and push image to Docker Hub
on:
    push:
        branches: [ "main" ]
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Login in Docker hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USER }}
                password: ${{ secrets.DOCKERHUB_PASS }}
            - name: Prepare Docker build
              uses: docker/setup-buildx-action@v3
            - name: Build image
              uses: docker/build-push-action@v6
              with:
                context: .
                file: ./Dockerfile
                push: true
                tags: |
                    ${{ secrets.DOCKERHUB_USER }}/laravel-e:latest
                    ${{ secrets.DOCKERHUB_USER }}/laravel-e:${{ github.sha }}